.nav-bar-vertical {
    background-color: black;
    width: 20px;
    height: 96.5vh;
    float: left;
}

.nav-bar-vertical ul {
    list-style-type: none;
    margin-top: 10px;
    padding-bottom: 1%;
    padding-right: 10px;
    padding-left: 5px;
    margin-left: 0px;
}

.nav-bar-vertical li {
    width: max-content;
    transform: rotate(90deg);
    transform-origin: top left;
    margin-bottom: 5em;
    margin-left: 17px;
    color: white;
}

.nav-bar-vertical :hover {
    background-color: black;
    color: blue;
}

.map-container {
    margin-left: 20px;
    height: 100vh;
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

.popup {
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 60%;
    margin-top: 3.72%;
}

.popup div{
    padding: 4px 4px 4px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.popup .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 20px;
    margin-top: 3.72%;
}

.sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav div:hover {
    color: #797979;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}