.nav-bar-vertical {
    background-color: black;
    width: 20px;
    height: 96.5vh;
    float: left;
}

.nav-bar-vertical ul {
    list-style-type: none;
    margin-top: 10px;
    padding-bottom: 1%;
    padding-right: 10px;
    padding-left: 5px;
    margin-left: 0px;
}

.nav-bar-vertical li {
    width: max-content;
    transform: rotate(90deg);
    transform-origin: top left;
    margin-bottom: 5em;
    margin-left: 17px;
    color: white;
}

.nav-bar-vertical :hover {
    background-color: black;
    color: blue;
}

.map-container {
    margin-left: 20px;
    height: 100vh;
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

/*USER INFO */

.popup-user-info {
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 60%;
    margin-top: 3.72%;
}

.popup-user-info div {
    padding: 4px 4px 4px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.popup-user-info .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    color: white;
    font-size: 36px;
    margin-left: 50px;
}

.popup-user-info .log-button {
    color: rgb(33, 107, 247);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

.popup-user-info .log-button:hover {
    color: #797979;
}

/*LOG-MISSION */

.popup-log-mission {
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 20%;
    margin-top: 20%;
}

.popup-log-mission .item {
    padding: 4px 4px 4px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.popup-log-mission input {
    background: rgba(0, 0, 0, 0.61);
    ;
    color: white;
}

.popup-log-mission .details {
    background: rgba(0, 0, 0, 0.61);
    color: white;
    width: 70%;
    height: 200px;
    float: left;
    clear: both;
}

.popup-log-mission .submitbut {
    color: blue;
    float: right;
    margin-right: 20px;
    margin-top: 170px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

.popup-log-mission .submitbut:hover {
    color: white;
}

.popup-log-mission .closebtn {
    position: absolute;
    top: 0;
    color: white;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.popup-log-mission .save-button {
    color: rgb(33, 107, 247);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

.popup-log-mission .save-button:hover {
    color: #797979;
}

/* CURRENT LOG MISSION */

.popup-current-log-mission {
    height: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 60%;
    margin-top: 30%;
}

.popup-current-log-mission .item {
    padding: 4px 4px 4px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.popup-current-log-mission input {
    background: rgba(0, 0, 0, 0.61);
    ;
    color: white;
}

.popup-current-log-mission .details {
    background: rgba(0, 0, 0, 0.61);
    color: white;
    width: 70%;
    height: 200px;
    float: left;
    clear: both;
}

.popup-current-log-mission .submitbut {
    color: blue;
    float: right;
    margin-right: 20px;
    margin-top: 170px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

.popup-current-log-mission .submitbut:hover {
    color: white;
}

.popup-current-log-mission .closebtn {
    position: absolute;
    top: 0;
    color: white;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.popup-current-log-mission .save-button {
    color: rgb(33, 107, 247);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

.popup-current-log-mission .save-button:hover {
    color: #797979;
}

/*SIDENAV */

.sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 20px;
    margin-top: 3.72%;
}

.sidenav input {
    background: rgba(0, 0, 0, 0.61);
    ;
    padding: 8px 8px 8px 32px;
    color: white;
}

.sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav div:hover {
    color: #797979;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    color: white;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    padding: 16px;
    width: 100%;
    height: 60%;
    font-size: 12px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content .item {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.2);
    ;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}

.dropdown-content .item:hover {
    background-color: #797979;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: black;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none
}